@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #222831;
  color: #eeeeee;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

button {
  background-color: #00adb5;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #017379;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.mapdiv img {
  max-width: 80%;
  border: 8px solid #00adb5;
  border-radius: 2px;
}
